body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.producto {
    padding: 7px 20px;
    display: inline-block;
    border: 1px solid orangered;
    margin: 5px;
    border-radius:8px ;
    cursor: pointer;
}

img {
    width: 20px;
}

.cuadro{
    padding: 7px 20px;
    background-color: orangered;
    color: white;
    margin: 2px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}